.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1150px;
    margin: 0 auto;
}

.page {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page > footer {
    max-width: 1150px;
}