.container {
    max-width: 1160px;
    padding: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.page {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.page > footer {
    max-width: 1150px;
}

.mobileNav {
  display: none;
  height: 60px;
  width: 100%;
  justify-content: center;
  background-color: white;
  backdrop-filter: blur(5px);
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgb(244, 241, 241);;
}

@media (max-width: 576px) { 
  .mobileNav {
    display: flex;
  }

  .page > footer {
    max-width: 1150px;
    margin-bottom: 60px;
  }
}