.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 860px;
    margin: 0 auto;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }