.container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  max-width: 100%;
}

.tab_element {
  border-radius: 12px;
  box-sizing: border-box;
  padding: 9px 16px 9px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 6px 4px 6px 4px;
  height: 38px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  max-width: 140px;
  min-width: 90px;
  vertical-align: middle;
  color:  #808190;
}

.active {
  background-color: white;
  color: black;
}

.tab_element:hover {
  background-color: white;
}

.description {
  font-size: 16px;
  font-weight: 700;
  font-size: 16px;
  margin-top: 20px;
}

.countText {
  color: #808190;
}