.container {
  max-width: 100%;
  min-width: 100%;
  padding: 12px;
  margin: 0 auto;
}

.list {
  width: 100%;
  margin: 24px auto;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(254px, auto));
}

.skeletonList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.skeletonHeading {
  display: flex;
  flex-wrap: wrap;

}