.list {
  margin: 24px auto;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  max-width: 860px;
  padding: 12px;
  margin: 0 auto;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}