.investors {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.investorItem {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 4px;
}

.investorAmount {
  display: flex;
  gap: 6px;
  align-items: center;
}

.investorAmountText {

}