.investorsBox {
  overflow: hidden;
  width: 100%;
}

.tableHeadText{
  color: #808190;
  font-weight: 600;
  font-size: 14px;
}

.investorItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 18px 10px 18px;
  border-bottom: 0.0635rem solid #F5F5F5;
}

.investorItem:not(:first-child):hover {
  background-color: rgb(248, 248, 248);
}

.investorBox {
  display: flex;
  align-items: center;
  gap: 6px;
  min-width: 120px;
}

.investorAmount {
  display: flex;
  gap: 12px;
  width: 120px;
  align-items: center;
  justify-content: end;
}

.responce {
  width: 160px;
}

.investorPerecent {
  display: flex;
  gap: 24px;
  width: 120px;
  align-items: center;
  justify-content: end;
}

.rightPart {
  display: flex;
  gap: 18px;
}

.investorAmountText {

}

.rate {
  color: green;
}