.container {
  margin: 0 auto;
  max-width: 1152px;
  padding: 12px;
  background-color: rgb(249, 249, 249);
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.companyLogo>img {
  width: 3rem;
  height: 3rem;
  border-radius: 12px;
}

.companyInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.details_text {
  color: gray;
  font-size: 14px;
}

.details_amount {
  font-size: 24px;
  font-weight: 600;
}

.coins_amount {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px
}

.back {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.timer {
  font-weight: 600;
}