.container {
  margin: 0 auto;
  max-width: 1152px;
  padding: 12px;
  background-color: rgb(249, 249, 249);
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.companyLogo>img {
  width: 3rem;
  height: 3rem;
  border-radius: 12px;
}

.companyTexts {
  display: flex;
  flex-direction: column;
}

.borrowId {
  color: #6860CC;
}

.companyName {

}

.companyInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.details_text {
  color: gray;
  font-size: 14px;
}

.details_amount {
  font-size: 24px;
  font-weight: 600;
}

.coins_amount {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px
}

.back {
  margin-top: 22px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.timer {
  font-weight: 400;
  color: rgb(47, 70, 244);
}

.timerBox {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e7eb;
  background-color: rgb(249, 249, 249);
}

.button {
  display: flex;
  justify-content: center;
}