.container {
  max-width: 100%;
}

.heading {
  padding-bottom: 18px;
}

.animatedText {
  background: none;
  width: 210px;
  animation: typing 3.5s steps(39), blink .5s step-end infinite alternate;

  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  place-items: center;
}


@keyframes typing{
  from{width: 0%}
}

@keyframes blink{
  50%{border-color: transparent}
}


.mainInfo {
  margin-top: 28px;
  display: grid;
  align-items: center;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(49%, auto));
  justify-content: space-between;
  max-width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
}

.info > h1 {
    font-weight: 600;
    font-size: 48px;
}

.fut {
    background: -webkit-linear-gradient(#ffae9a, #ef3000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttonsBox {
    margin-top: 48px;
    flex-wrap: wrap;
    display: flex;
    gap: 8px;
}

.description {
    margin-top: 68px;
    max-width: 400px;
}

.bigLogo {
  margin: 0 auto;
  position: relative;
  width: 300px;
  height: 300px;
}

.bigLogo>img {
  position: absolute;
  width: 300px;
  height: 300px;
  align-items: center;
}
