.form {
  position: relative;
  margin-top: 16px;
  display:flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  width: 100%;
  padding: 6px;
  border-radius: 16px;
  font-size: 18px;
  box-sizing: border-box;
}

.max {
  padding: 4px;
  padding-inline: 8px;
  position: absolute;
  top: .4em;
  right: .4em;
  border-radius: 16px;
  border: 0;
}
