.card {
  padding: 18px;
  border-radius: 12px;
  border: solid 1px #e5e7eb;
  background-color:white;
  width: 260px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card:hover {
  background-color:white;
}

.card_unactive {
  background-color: rgb(249, 249, 249);
  opacity: 0.5;
}

.card:hover {
  opacity: 1;
}

.head {
  display: flex;
  justify-content: space-between;
}

.company {
  display: flex;
  flex-direction: column;
}

.name {
  line-height: 1;
  font-size: 18px;
  font-weight: 600;
}

.desc {
  color:  #808190;
  font-size: 14px;
}

.details {
  display: flex;
  gap: 30px;
}

.details_item {
  display: flex;
  flex-direction: column;
}

.details_text {
  color:  #808190;
  font-size: 12px;
}

.details_amount {
  font-size: 16px;
  line-height: 1.2;
}

.rate {
  color:green;
}