.total_bar {
  margin-top: 14px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.total_amount {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 6px;
}

.slash {
  font-size: 12px;
}

.from {
  /* font-weight: 600;
  color: gray; */
  font-size: 18px;
}

.to {
  font-size: 12px;
}

.total_head {
  display: flex;
  justify-content: space-between;
  align-items:end;
}

.progress {
  width: 100%;
  background-color: green;
  height: 6px;
  border-radius: 18px;
}

.progress[value]::-webkit-progress-bar {
  background-color: #eee;
}
