.total_bar {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.total_amount {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 6px;
  justify-content: flex-end;
}

.slash {
  font-size: 12px;
}

.total_head {
  display: flex;
  justify-content: space-between;
}

.progress {
  width: 100%;
  background-color: green;
  height: 3px;
  border-radius: 8px;
}