.total_bar {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.total_amount {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 6px;
  justify-content: flex-end;
}

.slash {
  font-size: 12px;
}

.from {
  font-weight: 600;
  color: gray;
  font-size: 26px;
}

.to {
  font-size: 26px;
}

.total_head {
  display: flex;
  justify-content: space-between;
  align-items:end;
}

.progress {
  width: 100%;
  background-color: green;
  height: 6px;
  border-radius: 8px;
}