.elements {
  position: sticky;
  top: 0;
  padding: 0 24px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}


.company {
  padding: 12px;
  font-weight: 700;
}

.logobox>img {
  padding: 8px;
  max-width: 35%;

}