.p  {
  opacity: 0.9;
}

.border {
  height: 26px;
  vertical-align: middle;
  padding: 0 12px;
  border-radius: 14px;
  line-height: 24px;
  text-align: center;
  border: 1px solid;
}


.open {
  color: rgb(33 182 111);
}

.active {
  color: blue;
}

.closed {
  color: rgb(124 58 237);
}

.canceled {
  color: orangered;
}
