.p  {
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid;
  border-radius: 8px;
  text-align: center;
}


.open {
  color: green;
}

.active {
  color: blue;
}

.closed {
  color: gray;
}

.canceled {
  color: orangered;
}
