.container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
}

.text {
  color:  #808190;
  font-size: 12px;
}

.amount {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
}

.rate {
  color:green;
}


/* @media (max-width: 320px) { 
  .text {
    font-size: 10px;
  }

} */