.container {
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    max-width: 860px;
  }

  .heading {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .heading > p {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .invesmentsBox {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .assets {
    color:#50BEAF;
  }

  .emptyPortfolio {
    margin:12px;
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;
  }

  .emptyPortfolio > p {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 32px;
  }

  .imgBox {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
  }