.logoBox {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items:center;
  text-align: center;
  background-color: #e5e7eb;
  border-radius: 8px;
  background: url(../../images/Frame3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}